---
layout: default

features:
- icon: fa-gem
  title: Portitor ullamcorper
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: fa-paper-plane
  title: Sapien veroeros
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: solid fa-rocket
  title: Quam lorem ipsum
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: solid fa-signal
  title: Sed magna finibus
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.

posts:
- image: /images/mojave-birds.jpg
  title: Mojave Birds
  excerpt: The mojave desert is on the Pacific flyway and we see many migratory birds in addition to the native desert and riperian birds.
  url: "/mojave-birds.html"
- image: /images/bvp.jpg
  title: Mojave Birding Hotspots
  excerpt: Although the mojave is mostly desert, and there are desert birds, the majority of the birds are to be found around water, either in a river, spring or lake. Also, since I live in Las Vegas, many are in proximity to my home town.
  url: "/mojave-birding-hotspots.html"
- image: /images/mojave-plants.jpg
  title: Mojave Plants
  excerpt: Although many will picture the desert as a wasteland, it is surprisingly full of life, even in the most trying times of the year.
  url: "/mojave-plants.html"
- image: /images/mojave-flowers.jpg
  title: Mojave Flowers
  excerpt: Flowers can be found almost anywhere in the Mojave desert if you know where to look,
  url: "/mojave-flowers.html"
- image: /images/mojave-insects/mojave-insects.jpg
  title: Mojave Insects
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "mojave-insects.html"
- image: /images/mojave-reptiles/desert-tortoise.jpg
  title: Mojave Reptiles
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  url: "mojave-reptiles.html"
- image: /images/mojave-animals.jpg
  title: Mojave Mammals
  excerpt: Being a large animal in the mojave requires finding a location with water and and adaptability.
  url: "/mojave-mammals.html"
- image: /images/mojave-native-people.jpg
  title: Mojave Native People
  excerpt: Humans have occupied North America for at least the past 15,000 years. 
  url: "/mojave-native-people.html"
  
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Your site's home page.

{% endcomment %}

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1><br> Mojave Nature<br />
			 </h1>
				<p>Birds, Plants, Animals and Places</p>
			</header>
			<p>Mojave Nature is a site devoted to the plants, animals, places and history of the mojave Desert.</p>
		</div>
		<span class="image object">
			<img src="{{ site.baseurl }}/images/mojave-headline.jpg" alt="" />
		</span>
	</section>
{% comment %}
<!-- Section -->
	<section>
		<header class="major">
			<h2>Components</h2>
		</header>
		{% include components/features.html features=page.features %}
	</section>
{% endcomment %}
<!-- Section -->
	<section>
		<header class="major">
			<h2>Categories</h2>
		</header>
		{% include components/posts1.html posts=page.posts %}
	</section>