---
layout: page
last_modified_at:
title: "Mojave Birds"
intro: "Birds are a conspicuous part of the Mojave Desert"
description: "Birds are a conspicuous part of the mojave Desert"
featured_image: /images/mojave-birds.jpg
published: true
sitemap: true
category: birds
tags: mohave, mojave, birds

my_posts_array:
- image: /images/mojave-birds/accipitriformes.jpg
  title: Accipitriformes
  excerpt: Hawks, Eagles, Vultures and Kites
  url: /accipitriformes.html
- image: /images/mojave-birds/anseriforme-3.jpg
  title: Anseriformes
  excerpt: Ducks, Geese and Swans
  url: /anseriformes.html
- image: /images/mojave-birds/charadiformes.jpg
  title: Charadiformes
  excerpt: Avocets, Plovers, Sandpipers, Seagulls, and Stilts
  url: /charadiformes.html
- image: /images/mojave-birds/ciconliiformes.jpg
  title: Ciconliiformes
  excerpt: Egrets and Heron
  url: /ciconliiformes.html
- image: /images/mojave-birds/coracliiformes.jpg
  title: Coracliiformes
  excerpt: Kingfishers
  url: /coracliiformes.html
- image: /images/mojave-birds/cuculidae.jpg
  title: Cuculidae
  excerpt: Cuckoos, Roadrunners
  url: /cuculidae.html
- image: /images/mojave-birds/falconiformes.jpg
  title: Falconiformes
  excerpt: Falcons
  url: /falconiformes.html
- image: /images/mojave-birds/galliformes.jpg
  title: Galliformes
  excerpt: Chickens, Quail and Turkeys
  url: /galliformes.html
- image: /images/mojave-birds/gaviiformes.jpg
  title: Gaviiformes
  excerpt: Loons
  url: /gaviiformes.html
- image: /images/mojave-birds/gruiformes.jpg
  title: Gruiformes
  excerpt: Cranes and Rails
  url: gruiformes.html
- image: /images/mojave-birds/nyctibiiformes.jpg
  title: Nyctibiiformes
  excerpt: Nighthawks, Poorwill
  url: /nyctibiiformes.html
- image: /images/mojave-birds/pelecaniformes.jpg
  title: Pelecaniformes
  excerpt: Pelicans
  url: pelicaniformes.html
- image: /images/mojave-birds/piciformes.jpg
  title: Piciformes
  excerpt: Woodpeckers
  url: /piciformes.html
- image: /images/mojave-birds/podicipediformes.jpg
  title: Podicipediformes
  excerpt: Grebes
  url: /podicipediformes.html
- image: /images/mojave-birds/strigiformes.jpg
  title: Strigiformes
  excerpt: Owls
  url: /strigiformes.html
- image: /images/mojave-birds/suliformes.jpg
  title: Suliformes
  excerpt: Cormorants
  url: /suliformes.html

passeriformes_array:
- image: /images/alaudidae/horned-lark.jpg
  title: Alaudidae
  excerpt: Larks
  url: alaudidae.html
- image: /images/bombycilla/cedar-waxwing.jpg
  title: Bombycilla
  excerpt: Waxwings
  url: bombycilla.html
- image: /images/cardinalidae/northern-cardinal.jpg
  title: Cardinalidae
  excerpt: Cardinals and Grosbeaks
  url: cardinalidae.html
- image: /images/corvidae/common-raven.jpg
  title: Corvidae
  excerpt: Crows, Jays, and Magpies
  url: corvidae.html
- image: /images/fringillidae/house-finch.jpg
  title: Fringillidae
  excerpt: Finches
  url: fringillidae.html
- image: /images/hirundinidae/tree-swallow.jpg
  title: Hirundinidae
  excerpt: Swallows
  url: hirundinidae.html
- image: /images/icteridae/brewers-blackbird.jpg
  title: Icteridae
  excerpt: New World Blackbirds
  url: icteridae.html
- image: /images/laniidae/loggerhead-shrike.jpg
  title: Laniidae
  excerpt: Shrikes
  url: laniidae.html
- image: /images/mimidae/crissal-thrasher.jpg
  title: Mimidae
  excerpt: Mockingbirds and Thrashers
  url: mimidae.html
- image: /images/paridae-remizidae/black-capped-chickadee.jpg
  title: Paridae, Remizidae and Aegithalidae
  excerpt: Tits, Chickadees, Titmice, Penduline Tits and Bushtits
  url: paridae-remizidae.html
- image: /images/parulidae/hooded-warbler.jpg
  title: Parulidae
  excerpt: New World Warblers
  url: parulidae.html
- image: /images/passerellidae/brewers-sparrow.jpg
  title: Passeridae and Passerellidae
  excerpt: Old and New World Sparrows
  url: passerellidae.html
- image: /images/polioptilidae/black-tailed-gnatcatcher.jpg
  title: Polioptilidae
  excerpt: Gnatcatchers
  url: polioptilidae.html
- image: /images/troglodytidae/bewicks-wren.jpg
  title: Troglodytidae
  excerpt: Wrens
  url: troglodytidae.html
- image: /images/turdidae/hermit-thrush.jpg
  title: Turdidae
  excerpt: Thrushes
  url: turdidae.html
- image: /images/flycatchers/vermillion-flycatcher.jpg
  title: Tyrannidae
  excerpt: Tyrant and Silky Flycatchers
  url: tyrannidae.html
- image: /images/vireonidae/warbling-vireo.jpg
  title: Vireonidae
  excerpt: Vireos
  url: vireonidae.html

---


<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1><br>{{ page.title }}<br />
     </h1>
    </header>
    <p>{{ page.intro }}</p>
    <ul class="actions">
      <li><a href="{{ post.url }}/mojave-bird-markings.html" class="button">Bird Markings</a></li>
    </ul>
  </div>
  <span class="image object">
    <img src="{{ site.baseurl }}{{ page.featured_image }}" alt="" />
  </span>
</section>


<!-- Section -->
<section>
  <header class="major">
    <h2>Bird Orders in the Mojave</h2>
  </header>
  {% include components/posts1.html posts=page.my_posts_array %}
</section>



<!-- Section -->
<section>
  <header class="major">
    <h2>Perching Bird Families in the Mojave (Passeriformes)</h2>
  </header>
  {% include components/posts1.html posts=page.passeriformes_array %}
</section>
