---
layout: page
page-name: Mojave Insects
intro: "If you look closely in the desert, you can find insects everywhere--on leaves and sand, under rocks and sticks, and in flowers and cactus fruits. Insects have three body segments (head, thorax, and abdomen) and six legs. Most modern insects are winged as adults. Ants are a conspicuous exception to this trend, as most ants are wingless (only the queen and male ants have wings). My coverage of insects of the mojave will include only hose of particular interest."
page-image: /images/mojave-insects/mojave-insects.jpg

my_posts_array:
- image: images/mojave-flowers-color.jpg
  title: Flowers by Color
  excerpt: Probably the best all aroud hotspot in Southern Nevada
  url: mojave-flowers-white.html

---

<!-- Banner -->
<section id="banner">
    <div class="content">
      <header>
        <h1><br> Mojave Insects<br />
       </h1>
       <p></p>
      </header>
      <p>If you look closely in the desert, you can find insects everywhere--on leaves and sand, under rocks and sticks, and in flowers and cactus fruits. Insects have three body segments (head, thorax, and abdomen) and six legs. Most modern insects are winged as adults. Ants are a conspicuous exception to this trend, as most ants are wingless (only the queen and male ants have wings).</p>
<ul class="actions">
				<li><a href="/mojave-insects-all.html" class="button fit">All Insects List Search</a></li>
        <li><a href="/mojave-insects-info.html" class="button fit">More Insect Info</a></li>
</ul>
    </div>
    <span class="image object">
      <img src="/images/mojave-insects/mojave-insects.jpg" alt="" />
    </span>
  </section>


<h3>Mojave Insects Photogrid by Type</h3>

  

</section>


<!-- Section -->
<section>

{% comment %}

    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">


{% assign insectlist = site.data.insect1 | sort: "type" %}

  {% for item in insectlist %}

  <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>
  
  {% endfor %}

{% endcomment %}

{% assign bees = site.data.insect1 | where:"type","Bee" %}


  <h3>Bees (Hymenoptera)</h3>
    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">


    {% for item in bees %}

      <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>

    {% endfor %}

    </div>
		</div>

{% assign wasps = site.data.insect1 | where:"type","Wasp" %}

  <h3>Wasps (Hymenoptera)</h3>
    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">

    {% for item in wasps %}

      <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>

    {% endfor %}

    </div>
		</div>



{% assign butterflies = site.data.insect1 | where:"type","Butterfly" %}

  <h3>Butterflies (Lepidoptera)</h3>
    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">

      {% for item in butterflies %}

        <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>

      {% endfor %}

    </div>
		</div>

{% assign moths = site.data.insect1 | where:"type","Moth" %}

  <h3>Moths (Lepidoptera)</h3>
    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">

      {% for item in moths %}

        <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>

      {% endfor %}

    </div>
		</div>
        
{% assign flies = site.data.insect1 | where:"type","Fly" %}

  <h3>Flies (Diptera)</h3>
    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">

      {% for item in flies %}

        <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>

      {% endfor %}

    </div>
		</div>

{% assign dragonflies = site.data.insect1 | where:"type","Dragonfly" %}

  <h3>Dragonflies (Odonata)</h3><br>
    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">

      {% for item in dragonflies %}

        <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>

      {% endfor %}

      </div>
		  </div>

{% assign damselflies = site.data.insect1 | where:"type","Damselfly" %}

  <h3>Damselflies (Odonata)</h3><br>
    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">

      {% for item in damselflies %}

        <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>

      {% endfor %}

      </div>
		  </div>

{% assign beetles = site.data.insect1 | where_exp: "item","item.type == 'Beetle' or item.type == 'Bug' or item.type == 'Cicada'" %}

  <h3>Beetles (Coleoptera) and Bugs (Hemitera)</h3><br>
    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">

      {% for item in beetles %}

        <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>

      {% endfor %}

      </div>
		  </div>

{% assign grasshoppers = site.data.insect1 | where_exp: "item","item.type == 'Grasshopper' or item.type == 'Cricket'" %}

  <h3>Grasshoppers and Crickets (Orthoptera)</h3><br>
    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">

      {% for item in grasshoppers %}

        <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>

      {% endfor %}

      </div>
		  </div>      

{% assign spiders = site.data.insect1 | where:"type","Spider" %}

  <h3>Spiders (Araneae)</h3><br>
    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">

      {% for item in spiders %}

        <div class="col-2"><span class="image fit"><a href="{{ site.baseurl }}/{{ item.url }}" class="image"><figure><img src="{{ item.image }}" alt="" title="{{ item.name }}"/></figure></a></span></div>

      {% endfor %}

      </div>
		  </div>      

</section>