---
layout: page

page-name: Mojave Reptiles and Amphibians
order: 
intro: "All reptiles are cold-blooded or, more accurately, “ectothermic,” regulating body temperature via external sources rather than internal metabolism. A reptile’s metabolic rate is very low, but so are its energy needs. Since keeping warm in the desert does not require much work, reptiles are well adapted to this environment. What energy they do generate can be used for reproduction and finding food instead of heating and cooling."
page-image: /images/mojave-reptiles/desert-tortoise.jpg




reptile_array:
- image: /images/mojave-reptiles/ornate-tree-lizard.jpg
  title: Ornate Tree Lizard (Urosaurus ornatus)
  sub: Lizards (Squamata)
  url: construction.html
- image: /images/mojave-reptiles/western-whiptail1.jpg
  title: Western Whiptail (Aspidoscelis tigris)
  sub: #
  url: construction.html
- image: /images/mojave-reptiles/western-fence-lizard.jpg
  title: Western Fence Lizard (Sceloporus occidentalis)
  sub: #
  url: construction.html
- image: /images/mojave-reptiles/coast-range-fence-lizard.jpg
  title: Coast Range Fence Lizard (Sceloporus occidentalis bocourtii)
  sub: #
  url: construction.html
- image: /images/mojave-reptiles/great-basin-fence-lizard.jpg
  title: Great Basin Fence Lizard (Sceloporus occidentalis longipes)
  sub: #
  url: construction.html
- image: /images/mojave-reptiles/yellow-backed-spiny-lizard.jpg
  title: Yellow-backed Spiny Lizard (Sceloporus uniformis)
  sub: #
  url: construction.html
- image: /images/mojave-reptiles/zebra-tailed-lizard.jpg
  title: Zebra-tailed Lizard (Callisaurus draconoides)
  sub: #
  url: construction.html
- image: /images/mojave-reptiles/side-blotched-lizard.jpg
  title: Nevada Side-blotched Lizard (Uta stansburiana nevadensis)
  sub: #
  url: construction.html
- image: /images/mojave-reptiles/california-kingsnake.jpg
  title: California Kingsnake (Lampropeltis californiae)
  sub: Snakes (Squamata)
  url: construction.html
- image: /images/mojave-reptiles/great-basin-gophersnake.jpg
  title: Great Basin Gophersnake (Pituophis catenifer deserticola)
  sub: #
  url: construction.html
- image: /images/mojave-reptiles/red-racer.jpg
  title: Red Racer (Coluber flagellum piceus)
  sub: #
  url: construction.html
- image: /images/mojave-reptiles/desert-tortoise.jpg
  title: Desert Tortoise (Gopherus agassizii)
  sub: Tortoise (Testudines)
  url: construction.html
- image: /images/mojave-reptiles/pond-slider.jpg
  title: Pond Slider (Trachemys scripta)
  sub: Turtle (Testudines)
  url: construction.html
- image: /images/mojave-reptiles/american-bullfrog.jpg
  title: American Bullfrog (Lithobates catesbeiana)
  sub: Frogs (Anura)
  url: construction.html
- image: /images/mojave-mammals/desert-bighorn-sheep.jpg
  title: Desert Bighorn Sheep (Ovis canadensis nelsoni)
  sub: #
  url: construction.html



---


<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1><br>{{ page.page-name }}<br />
     </h1>
     <p>{{ page.order }}</p>
    </header>
    <p>{{ page.intro }}</p>
  </div>
  <span class="image object">
    <img src="{{ page.page-image }}" alt="" />
  </span>
</section>

<!-- Section -->


{% for post in page.reptile_array %}

{% if post.sub.size > 1 %}



<section>
  <header class="major">
    <h2>{{ post.sub }}</h2>
  </header>

    <div class="box alt">
    <div class="row gtr-50 gtr-uniform">

{% endif %}
 
  
      <div class="col-4"><span class="image fit"><a href="{{ site.baseurl }}/{{ post.url }}" class="image"><figure><img src="{{ post.image }}" alt="" /><figcaption>{{ post.title }}<figcaption></figcaption></figure></a></span></div>


{% endfor %}
</section>